/* APPLICATION LAYOUT & GRID STYLES */

.app-container {
  height: 100%;
  overflow: hidden;
}

.background {
  height: calc(100% - var(--spacing-24));
  padding: var(--spacing-3);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: calc(30% - 4px) 1fr 1fr;
  grid-template-rows: calc(55% - 4px) calc(45% - 4px);
  grid-template-areas:
    "alerts constellation constellation"
    "alerts watcher watcher";
}

rux-container::part(container) {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px);
  overflow-y: hidden;
}

rux-container::part(body) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 0;
  /* to color small space above scrollbar */
  background-color: var(--color-background-base-header);
}

rux-container.alerts {
  grid-area: alerts;
}

rux-container.constellation {
  grid-area: constellation;
}

.watcher {
  grid-area: watcher;
  display: flex;
}

.watcher rux-container {
  width: 40%;
}

.watcher rux-container::part(container) {
  border-right: none;
}

/* GlOBAL TABLE STYLES */

.table-wrapper {
  overflow-y: scroll;
}

.table-wrapper::-webkit-scrollbar-track {
  margin-top: 40px;
}

rux-table-header {
  top: 0;
  position: sticky;
  z-index: 10;
}

rux-table-header-cell[data-sortprop="status"] {
  text-align: center;
}

rux-status::part(status) {
  margin-inline: auto;
}

.text-align-right {
  text-align: right;
}

rux-table-cell.text-align-right {
  text-align: right;
  padding-right: calc(32px + 0.5rem);
}
