/* /home/thomas/Documents/work/CSI_Frontend/CSI_UI/src/components/Server/Sections/ProcessesSection.css */
.processes-section-content {
  padding: 1rem;
}

.processes-section-content .search-input {
  margin-bottom: 1rem;
}

.processes-section-content .no-data-message {
  padding: 1rem;
  text-align: center;
  color: var(--rux-color-text-secondary);
}

.process-details-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid var(--rux-color-border-primary);
  border-radius: 4px;
  background-color: var(--rux-color-background-surface);
}

.process-details-list {
  list-style-type: none;
  padding-left: 1rem;
}

.process-details-list li {
  margin-bottom: 0.5rem;
}

mark {
  background-color: var(--rux-color-background-interactive-focus);
  color: var(--rux-color-text-primary);
  padding: 2px;
  border-radius: 3px;
}

.process-details-object {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.process-details-object.is-child {
  margin-left: 1rem;
  border-left: 2px solid var(--rux-color-border-primary);
  padding-left: 1rem;
}

.process-detail-entry {
  display: flex;
}

.process-detail-key {
  font-weight: bold;
  margin-right: 0.5rem;
  color: var(--rux-color-text-primary);
  flex-shrink: 0;
}

.process-detail-value {
  color: var(--rux-color-text-secondary);
  word-break: break-all;
}

.process-details-array {
  list-style-type: none;
  padding-left: 1rem;
}

.process-details-array li {
  margin-bottom: 0.25rem;
}
