.app-container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Sidebar and main content */
  grid-template-rows: auto; /* Adjust height dynamically */
  grid-template-areas:
    "sidebar main-content"; /* Define grid areas */
  height: 100vh; /* Full viewport height */
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
}

.sidebar {
  background-color: var(--color-background-surface-default);
  border-right: 1px solid var(--color-border-divider);
  padding: 1rem;
  overflow-y: auto;
}

.main-content {
  padding: 1rem;
  overflow-y: auto;
  background-color: var(--color-background-base-default);
}

.pdu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-surface-default);
  padding: 20px;
  border-radius: 10px;
  color: var(--color-text-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plug-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}