/* Header Styles */

.pass-plan_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

rux-select.pass-plan_header-select {
  display: flex;
}

rux-select.pass-plan_header-select::part(select) {
  flex-direction: row;
  width: 8rem;
}

rux-select.pass-plan_header-select::part(label) {
  margin-right: var(--spacing-3);
  margin-top: 0.5rem;
}

.pass-plan_banner {
  height: var(--spacing-6);
  width: 100%;
  background-color: var(--color-background-surface-selected);
  text-align: center;
}

.pass-plan_banner.Pass {
  background-color: var(--color-background-interactive-muted);
  color: var(--color-text-white);
}

.pass-plan_header-wrapper {
  display: flex;
  padding-block: var(--spacing-2);
  font-size: var(--font-heading-5-font-size);
  box-shadow: var(--list-panel-box-shadow);
  z-index: 90;
}

.pass-plan_header-step {
  padding-inline-start: var(--spacing-3);
}

.pass-plan_header-instruction {
  padding-inline-start: var(--spacing-16);
}

/* Content/Body Styles */

rux-container.pass-plan::part(body) {
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--color-background-surface-default);
  max-height: calc(100vh - 150px);
}

.main-content-wrapper rux-container::part(body) {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 150px);
}

/* Tree List Styles */

div.pass-plan_tree-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
  background: var(--color-background-surface-default);
  border-radius: var(--border-radius);
  margin-block: var(--spacing-2);
  max-height: calc(100vh - 120px);
}

.pass-plan_tree-wrapper rux-tree-node::part(node) {
  display: flex;
  align-items: center;
  /* This is to account for the width of the caret on the left side of the node so the padding looks even.  */
  padding-inline-end: var(--spacing-3);
  padding-block: var(--spacing-2, 0.5rem);
  box-shadow: 0 -1px 0 0 var(--color-background-base-default, #101923) inset;
}

rux-tree.pass-plan_tree-wrapper rux-tree-node::part(text) {
  padding-inline-start: var(--spacing-6);
  width: 100%;
  padding-block: var(--spacing-1);
}

/* Styles to fix row padding */
rux-tree.pass-plan_tree-wrapper rux-tree-node[aria-level="2"] {
  padding-block-start: var(--spacing-1);
}

rux-tree.pass-plan_tree-wrapper rux-tree-node:first-child {
  padding-block-start: var(--spacing-1);
}

rux-tree.pass-plan_tree-wrapper rux-tree-node:last-child:not([aria-level="2"]) {
  padding-block-end: var(--spacing-1);
}

.pass-plan_tree-content-wrapper {
  display: flex;
  align-items: center;
  margin-inline-end: var(--spacing-4);
}

.pass-plan_tree-content-wrapper > rux-checkbox {
  margin-inline-end: var(--spacing-6);
}

.pass-plan_tree-content-wrapper > rux-progress {
  margin-inline-start: auto;
}

.pass-plan_tree-wrapper rux-tree-node[aria-level="2"]::part(node) {
  padding-left: var(--spacing-20);
}

/* List Item Styles */

.pass-plan rux-progress {
  width: 16rem;
}

.pass-plan rux-progress::part(progress) {
  height: var(--spacing-3);
}

.pass-plan rux-input {
  width: 100%;
  margin-right: var(--spacing-2);
  padding: var(--spacing-2);
}
.pass-plan rux-input::part(label) {
  margin-bottom: var(--spacing-1);
  padding: var(--spacing-2);
}
.pass-plan rux-select {
  width: 100%;
  margin-right: var(--spacing-2);
  padding: var(--spacing-2);
  margin-bottom: var(--spacing-1);
  padding: var(--spacing-2);
}
.pass-plan rux-select::part(label) {
  margin-bottom: var(--spacing-1);
  padding: var(--spacing-2);
}
.pass-plan rux-input::part(label) {
  margin-bottom: var(--spacing-1);
}
.pass-plan_status-symbol {
  padding-inline-end: var(--spacing-4);
}

/* Pre-Pass Complete Styles */

.pass_pre-pass-complete-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

rux-indeterminate-progress {
  padding-block-end: var(--spacing-3);
}

.pass-plan::part(footer) {
  padding: 0px;
}

/* Loading Container Styles */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--spacing-4);
}

/* Device Details Container */
.device-details-container {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  height: 100%;
  max-height: calc(100vh - 200px);
}

.pdu-container {
  margin-top: var(--spacing-4);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  overflow: visible;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.main-content-top-container,
.main-content-bottom-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content-top-container > :not([slot]),
.main-content-bottom-container > :not([slot]) {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.no-history-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Make message fill the content area of the bottom container */
  text-align: center;
  color: var(
    --rux-color-text-secondary,
    #8e8e8e
  ); /* Use AstroDS token or a fallback */
}
