.status-indicators {
    display: flex;
  }
  
  .status-indicators rux-monitoring-icon {
    margin-inline: var(--spacing-3);
  }
  
  .app-icon-pop-up {
    height: calc(var(--spacing-14, 3.5rem) + var(--spacing-050, 0.125rem));
  }
  
  rux-toast-stack {
    top: 96px;
  }
  
  rux-toast:nth-child(n + 5) {
    display: none;
  }
  
  rux-menu-item[value="themeToggle"] span {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
  }
  
  rux-global-status-bar {
    padding-right: var(--spacing-3);
    z-index: 100;
  }
  
  .app-switcher-icon:focus {
    outline-offset: -1px;
  }
  